<!-- This is our horizontal navbar -->
<ul class="menu">
    <li><a href="/"> <img src="images/bdpalogo.png" height="25">   </a></li>
    <li><a href="/"> Home </a></li>
    <li><a href="/bdpahistory"> BDPA History </a></li>
    <li><a href="/formentry"> Sample Form </a></li>
  </ul>
  <!-- End navbar -->
  <br><br><br>