<!DOCTYPE html>
<html>
<!-- Include statement has head section -->
<%- include('./partials/head') -%>

<body>
    <!-- Include navigation menu -->
    <%- include('./partials/menu') -%>

   <h1> Sample data entry </h1>
   <form name="SampleForm" action="/formentry" method="POST">
      <label for="firstname">First Name: </label> <input type="text" name="firstname" id="firstname" required>
      <label for="lastname">Last Name: </label> <input type="text" name="lastname" id="lastname" required> <br>
      <label for="email1">Email: </label> <input type="email" name="email1" id="email1" required> <br>
    <label for="num1">Enter a number </label> <input type="number" name="num1"id="num1" required>
      <label for="num2">Enter another number: </label> <input type="number" name="num2" id="num2" required>

     
      <input type="checkbox" name="numconvert1" id="numconvert1" value="bin">
      <label for="numconvert1"> Show in binary </label>
      <input type="checkbox"name= "numconvert2" id="numconvert2" value="hex">
      <label for="numconvert2" > Show in hexadecimal</label>
      
    <input type="submit" value="Submit form">
   </form>

</body>
</html>