<!DOCTYPE html>
<html>

  <!-- EJS page head has link to stylesheet plus an internal styling sample -->
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      h2 {color:red}
    </style>
  </head>
  <!-- End of head -->
  <body>
    <!-- This is our horizontal navbar -->
    <ul class="menu">
      <li><a href="/"> <img src="images/bdpalogo.png" height="25">   </a></li>
      <li><a href="/"> Home </a></li>
      <li><a href="/bdpahistory"> BDPA History </a></li>
      <li><a href="#"> Sample Form </a></li>
    </ul>
    <!-- End navbar -->
    <br><br><br>


    <!-- Basic Intro -->
    <h1> Welcome to BDPA 2025 </h1>
    <h2> My name is Scott </h2>
    <p style="color:green; background-color:white"> This page will be an intro to the HSCC program </p>
    <h2> Hyperlinks </h2>
    <!-- Unordered list of links -->
    <ul>
      <li> BDPA National <a href="http://www.bdpa.org"> LINK </a> </li>
      <li> BDPA Milwaukee <a href="http://www.bdpamke.org"> LINK </a> </li>
      <li> W3Schools <a href="http://www.w3schools.com"> LINK </a> </li>
      <li> BDPA History <a href="/bdpahistory"> LINK </a> </li>

    </ul>
    <!-- End of unordered list -->
  </body>
</html>
